.bottom-section {
  border-top: 1px solid #000;
  padding-top: 1.5rem;
}

@media screen and (min-width: 992px) {
  .bottom-section {
    border: 0;
  }
}
@media screen and (min-width: 1200px) {
  .bottom-section {
    padding-top: 0;
  }
}
