.category-title {
  position: relative;

  font-size: 20px;
  font-style: italic;
  text-align: center;

  &::before {
    @include box(100%, 4px);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: black;
  }

  & span {
    position: relative;
    z-index: 1;

    padding: 0 0.5rem;
    background-color: white;
  }
}
