@import "../abstracts/mixins";

.menu-btn {
  @include flex(space-between, center, column);
  @include box(24px, 18px);

  overflow: hidden;

  & div {
    background-color: white;
    transition: all 0.3s;
  }
}

.top-line {
  @include box(20px, 2px);

  &--active {
    @extend .top-line;
    width: 24px;
    transform: rotate(45deg) translateX(6px) translateY(5px);
  }
}

.middle-line {
  @include box(24px, 2px);

  &--active {
    @extend .top-line;
    transform: translateX(-60px);
  }
}

.bottom-line {
  @include box(20px, 2px);

  &--active {
    @extend .top-line;
    width: 24px;
    transform: rotate(-45deg) translateX(6px) translateY(-5px);
  }
}
